#body 
	{
		margin: 0;
		padding: 0;
	}
#logo
	{
		background-color: #676767;
		width: 100%;
		height: 15%;
	}
#lewy
	{
		background-color: grey;
		width: 15%;
		height: 80%;
		float: left;
	}
#prawy
	{
		background-color: silver;
		width: 85%;
		height: 80%;
		float: right;
	}
#stopka
	{
		background-color: #676767;
		width: 100%;
		height: 5%;
		clear: both;
	}
:link 
	{
		color: silver;
		text-decoration: none;
	}
:visited 
	{
		color: silver;
	}
:hover 
	{
		color: black;
	}
#rejestracja
	{
		width: 333;
		height: 1333;
		overflow: hidden;
	}
#ciemno
	{
		
		width: 100%;
		height: 100%;
	}
#przycisk
	{
		width: 15%;
		height: 15%;
		position: absolute;
		right: 5%;
		top: 5%;
	}
.false
	{
		content: url("false.png");
	}
.czarny
	{
		background-color: rgba(0,0,0,0.9);
	}
#a1
	{
		position: absolute;
		left: 100;
		top: 100;
		width: 50;
		height: 50;
		
		border: solid black 1px;
	}
#a2
	{
		position: absolute;
		left: 150;
		top: 100;
		width: 50;
		height: 50;
		background-color: white;
		border: solid black 1px;
	}
#a3
	{
		position: absolute;
		left: 200;
		top: 100;
		width: 50;
		height: 50;
		background-color: white;
		border: solid black 1px;
	}
#a4
	{
		position: absolute;
		left: 100;
		top: 150;
		width: 50;
		height: 50;
		background-color: white;
		border: solid black 1px;
	}
#a5
	{
		position: absolute;
		left: 150;
		top: 150;
		width: 50;
		height: 50;
		background-color: white;
		border: solid black 1px;	
	}
#a6
	{
		position: absolute;
		left: 200;
		top: 150;
		width: 50;
		height: 50;
		background-color: white;
		border: solid black 1px;
	}
#a7
	{
		position: absolute;
		left: 100;
		top: 200;
		width: 50;
		height: 50;
		background-color: white;
		border: solid black 1px;
	}
#a8
	{
		position: absolute;
		left: 150;
		top: 200;
		width: 50;
		height: 50;
		background-color: white;
		border: solid black 1px;
	}
#a9
	{
		position: absolute;
		left: 200;
		top: 200;
		width: 50;
		height: 50;
		background-color: white;
		border: solid black 1px;
	}
.kolor1
	{
		content: url("k1.png");
	}
.kolor2
	{
		content: url("k2.png");
	}
.kolor3
	{
		content: url("k3.png");
	}
.kolor4
	{
		content: url("k4.png");
	}
.kolor5
	{
		content: url("k5.png");
	}
.kolor6
	{
		content: url("k6.png");
	}
.kolor7
	{
		content: url("k7.png");
	}
.kolor8
	{
		content: url("k8.png");
	}
.kolor9
	{
		content: url("k9.png");
	}
#niebieski
	{
		width: 100;
		height: 100;
		background-color: blue;
		margin: 10;
	}
#zielony
	{
		width: 100;
		height: 100;
		background-color: green;
		margin: 10;
	}
#czerwony
	{
		width: 100;
		height: 100;
		background-color: red;
		margin: 10;
	}